<form action="/user-search" method="POST" class="search-form" id="searchForm">
    <div>
        <input type="text" class="form-control" name="searchInput" placeholder="Search users" <% if (search != '') { %> value="<%= search %>" <% } %>>
        <div class="input-group-append">
          <button class="btn btn-primary">Search</button>
          <button name="ascending" onclick="sortAscending()">Sort Ascending</button>
          <button name="descending" onclick="sortDescending()">Sort Descending</button>
          <input type="hidden" name="sort" id="sort" value="">
        </div>
    </div>
</form>

<center>
<% if (message != '') { %>
  <br>
  <div class="alert alert-danger" role="alert">
    <%= message %>
  </div>
  <br>
<% } %>
</center>
<% if (data != null) { data.forEach( item => { %>
  <% if (item.username != current) { %>
    <div class="user-info">
      <p>Username : <%= item.username %></p>
      <p>Email : <%= item.email %></p>
      <p>Admin : <%= item.admin %></p>
      <a href="/user/<%= item._id %>">Edit admin priviliges</a> &nbsp; 
      <a href="/user/delete/<%= item._id %>" class="red" onclick="return confirm('Are you sure you wish to delete this account?');">Delete account</a>
    </div>
    <br><br>
<% }}); } %>
<br><br><br>
<form action="/?_method=GET" method="POST">
  <button type="submit">Go back to homepage</button>
</form>

<script>
  const sortType = document.getElementById("sort")
  function sortAscending(){
      sortType.value = "ascending"
  }
  function sortDescending(){
      sortType.value = "descending"
  }
</script>