    <form action="/quiz-search" method="POST" class="search-form" id="searchForm">
        <div>
            <input type="text" class="form-control" name="searchInput" placeholder="Search quizzes" <% if (search != '') { %> value="<%= search %>" <% } %>>
            <div class="input-group-append">
              <button class="btn btn-primary">Search</button>
              <button name="ascending" onclick="sortAscending()">Sort Ascending</button>
              <button name="descending" onclick="sortDescending()">Sort Descending</button>
              <input type="hidden" name="sort" id="sort" value="">
            </div>
        </div>
    </form>
    <form action="/add-quiz?_method=GET" method="POST">
      <button type="submit">Add Quiz</button>
    </form>

    <center>
    <% if (message != '') { %>
      <br>
      <div class="alert alert-danger" role="alert">
        <%= message %>
      </div>
      <br>
    <% } %>
    </center>
    <br><br><br>
    <div id="quiz-container">
    <% if (data != null) { data.forEach( item => { %>
        <div class="quiz">
            <div class="quiz-info">
              <h3><%= item.question %></h3>
              <a href="/quiz/<%= item._id %>">Edit</a> &nbsp; 
              <a href="/quiz/delete/<%= item._id %>" class="red" onclick="return confirm('Are you sure you wish to delete this?');">Delete</a>
            </div>
        </div>
    <% }); } %>
    </div>
    <br><br><br>
    <form action="/?_method=GET" method="POST">
      <button type="submit">Go back to homepage</button>
    </form>

    <script>
      const sortType = document.getElementById("sort")
      function sortAscending(){
          sortType.value = "ascending"
      }
      function sortDescending(){
          sortType.value = "descending"
      }
    </script>